name: Code Quality

on:
    push:
    pull_request:

concurrency:
    group: code-quality
    cancel-in-progress: true

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
        contents: read
        id-token: write
    steps:
        -   uses: actions/checkout@v6
        -   name: Setup Biome
            uses: biomejs/setup-biome@v2
            with:
                version: latest
        -   name: Run Biome
            run: biome ci .
